@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: 'Geist Mono', 'Fira Code', sans-serif;
}

main {
	background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%239C92AC' fill-opacity='0.12' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

input[type="color"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	border: 1px solid white;
	width: 32px;
	height: 32px;
}

input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}

input[type="color"]::-webkit-color-swatch {
	border: none;
}

.elden-ring {
	color: #dab97a;
}
